
	
	<script type="text/javascript">
		require(['calendar','xheditor_lang'],function(calendar,xheditor_lang){
			
				jQuery("#update_testuser").find(".j_date_picker").calendar({
						disabled: false
					});
				
				jQuery("#update_testuser").find(".j_editor").xheditor();
				
		});

	</script>
	
	

    
<div class="modal-body auto-height-body"  id="update_testuser">
	<form class="form-horizontal"  id="form1" role="form">
	
		<div class="form-group">
			<label class="col-sm-2 control-label" for="enname">id</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="id" id="id" placeholder="请输入id" maxlength="10" value="$!{testUser.id}"readonly/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="enname">名字</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="name" id="name" placeholder="请输入名字" maxlength="10" value="$!{testUser.name}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="enname">年龄</label>
			<div class="col-sm-7 controls">
			
			<input type="text" class="form-control"  name="age" id="age" placeholder="请输入年龄" maxlength="10" value="$!{testUser.age}"/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="enname">生日</label>
			<div class="col-sm-7 controls">
			
				<input type="text" class="form-control j_date_picker" name="birthDay" id="birthDay"
				 placeholder="请输入生日" maxlength="10" value="$!dateFormatUtils.format($!testUser.birthDay,"yyyy-MM-dd")" />
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="enname">介绍</label>
			<div class="col-sm-7 controls">
			
				<textarea class="form-control j_editor"   name="introduce" id="introduce"  placeholder="请输入介绍"  style="min-height:250px;width:100%;">$!{testUser.introduce}</textarea>
				
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="enname">备注</label>
			<div class="col-sm-7 controls">
			
				   <textarea class="form-control"   name="remark" id="remark" placeholder="请输入备注"  rows="5">$!{testUser.remark}</textarea> 
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="enname">状态</label>
			<div class="col-sm-7 controls">
			
		
		<select class="forms_select input-medium" name="state" id="state">
				<option value="1" #if($testUser.state==1) selected #end>有效</option>
				<option value="-1" #if($testUser.state==-1) selected #end>无效</option>
</select>
		
	

			</div>
		</div>
		

	</form>
</div>
<div class="modal-footer">
	<a href="javascript:;" class="btn btn-primary" id="btn_submit">保存修改</a>
	<a href="javascript:;" class="btn btn-default"  data-dismiss="modal" aria-hidden="true">关闭</a>
</div>


<script language="javascript">
void function(j) {
	var set = {
		 		id:  {must: true, maxlength:10, ftip:'id,最多10个字符' ,handler:'int' },
		name:  {must: false, maxlength:10, ftip:'名字,最多10个字符'},
		age:  {must: false, maxlength:10, ftip:'年龄,最多10个字符' ,handler:'int' },
		birthDay:  {must: false, maxlength:10, ftip:'生日,最多10个字符'},
		introduce:  {must: false, maxlength:500, ftip:'介绍,最多500个字符'},
		remark:  {must: false, maxlength:45, ftip:'备注,最多45个字符'},
		state:  {must: false, maxlength:10, ftip:'状态,最多10个字符' ,handler:'int' }
	};
	

	j('#btn_submit').click(function(e) {
		gUtils.fSubmitForm(
			j("#form1").serialize(), 
			set, 
			'/user/testUser/doUpdate.action', 
			function() {
				gDialog.fClose();
				queryList(1);
			}
		);
	});
	
	//form.friend.init(set);
}(jQuery);
</script>